@import "tailwindcss";

@theme {
  --color-paper: #F4CBC6;
  --color-paper-light: #fcf3f2;
  --color-ink: #27213C;
  --color-sage: #A8BA9A;
  --color-rosewood: #AB4E68;
  --color-brick: #BC4B51;

  --font-logo: "Pacifico", cursive;
  --font-display: "Lilita One", sans-serif;
  --font-sans: "Quicksand", sans-serif;
}

body {
  @apply bg-paper-light text-ink font-sans;
}

button {
  cursor: pointer;
}

input{
  cursor: pointer;
}

select{
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: var(--font-logo);
  margin-bottom: 3rem;
}